/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
}

.home {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 100px;
}

.intro {
    display: inline-block;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about, .projects, .contact {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: -4%;
}

.project {
    background-color: #e4e4e4;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
